.container-Login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-Login form{
    display: flex;
    flex-direction: column;
    gap: 10px ;
}

.container-Login #submit {
    cursor: pointer;
    background-color: rgba(48, 155, 167, 1) ;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}


#input_cpf {
    position: relative;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
#input_senha {
    position: relative;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;

}



#nova-conta span{
    color: blue;
    cursor: pointer;
}